<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1> <%= title %> </h1>
  <p>
    Please first ensure that the Team is not in the dropdown!
    <select>
      <% teams.forEach(team => { %> 
      <option><%= team.name %> </option>
    <% }) %>
      </select>
  </p>
  <form id="add-team-form" action="/teams" method="post">
    <label for="name-input">Team Name:</label>
    <input type="text" name="name" id="name-input">
    <button type="submit">Add Team</button>
  </form>
</main>


<%- include('../partials/footer') %>
