<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>What's Up <%= user ? user.profile.name : "Football Fan!? Sign In!" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
</main>

<%- include('./partials/footer') %>
