<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/games/index.css">
<%- include('../partials/nav') %>

<section class="front-page">
  <% if (user) { %>
  <div class="section-one">
    <h1>Add a NFL Game</h1>

    <form 
    action="/games" method="POST">
      <div class="team-container">

        
        <select name="teamOne">
          <% teams.forEach(team => { %>
          <option value="<%= team._id %>"><%= team.name %></option>
          <% }) %>
        </select>
        
        <div class="vs">
        <p>  VS  </p>
        </div>

        <select name="teamTwo">
          <% teams.forEach(team => { %>
            <option value="<%= team._id %>"><%= team.name %></option>
          <% }) %>
        </select>
      </div>
        
      <div class="game-details">
        <label>
          Game Details: 
          <input type="text" name="name" autocomplete="off">
        </label>
        <label>
          City: 
          <input type="text" name="city" autocomplete="off">
        </label>

      </div>

      <div class="add-game-button">
        <button type="submit">Add NFL Game</button>
      </div>

    </form>
  </div>

  <% } %>

  <div class="section-two">
  <h2>All Games</h2>
	<ul>
  <% games.forEach(game => { %>
    <li> 
      <a href="/games/<%=game._id%>"><%= game.name %> </a>
    </li>
  <% }) %>
  </ul>
  </div>

</section>

<%- include('../partials/footer') %>