<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>NFL Games</h1>
  <% if (user) { %>
  <h2>Add a Game</h2>

  <form 
  action="/games" method="POST">

    <select name="teamOne">
      <% teams.forEach(team => { %>
        <option value="<%= team._id %>"><%= team.name %></option>
      <% }) %>
    </select>

    <p>  VS  </p>

    <select name="teamTwo">
      <% teams.forEach(team => { %>
        <option value="<%= team._id %>"><%= team.name %></option>
      <% }) %>
    </select>


    <label>
      Game Name: 
      <input type="text" name="name" autocomplete="off">
    </label>
    <!-- add date later -->
    <label>
      City: 
      <input type="text" name="city" autocomplete="off">
    </label>
    
    <button type="submit">Add NFL Game</button>


  </form>


  <% } %>
  <h2>All Games</h2>
	<ul>
  <% games.forEach(game => { %>
    <li> 
      <a href="/games/<%=game._id%>"><%= game.name %> </a>
    </li>
  <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>