<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>NFL Games</h1>
  <% if (user) { %>
  <h2>Add a Game!</h2>
  <form action="games" method="POST">
    <label>
      Name:
      <input type="text" name="name" autocomplete="off">
    </label>
    <label>
      Attended?
      <input type="checkbox" name="attended">
    </label>
    <button type="submit">Add Game</button>
  </form>
  <% } %>
  <h2>All Games</h2>
	<ul>
  <% games.forEach(game => { %>
    <li> <%= game.name %> is <%= game.attended ? 'attended' : 'not attended' %></li>
  <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>