<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <p>This game features <%= game.teams.name %> vs <%= game.teams.name %> </p>
  <h1><%= game.name %></h1>
  <h2> <%= game.city %> </h2>
  <h2>You are <%= attending ? 'attending' : 'not attending' %> this game.</h2>
  
  <% if (user) { %>
    <% if (!attending) {%> 
    <form 
      action="/games/<%= game._id %>/flip-attended?_method=PATCH" 
      method="POST"
    >

      <button class="btn" type="submit">
        Attend Game 
      </button>
    </form>
  <% } %>
  <% } %>
  <% if (game.owner.equals(user?.profile._id)) { %>
    <form action="/games/<%= game._id %>/edit" method="GET">
      <button class="btn" type="submit">Edit this Game </button>
    </form>
    <form action="/games/<%= game._id %>?_method=DELETE" method="POST">
      <button class="btn" type="submit">Delete this Game</button>
    </form>
  <% } %>
</section>
<%- include('../partials/footer') %>