<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
	<p>This game features <%= game.teams.name %> vs <%= game.teams.name %> </p>
  <h1><%= game.name %></h1>
  <h2>This game has been <%= game.attended ? 'attended!' : 'not attended!' %></h2>
</section>



<%- include('../partials/footer') %>